
body{
    overflow: hidden;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#pad {
    border: 1px dotted #565656;
    background-color: ivory;
    margin: 0;
    padding: 0;
}

#result {
    font-size: 2em;
    background-color: #fff;
    color: steelblue;
    width: 100%;
    border: 0;
    height: 200px;
}
