canvas {
	border: 1px dotted #565656;
}

#result {
	padding: 50px;
    font-size: 4em;
	color: steelblue;
    position: absolute;
    right: -100;
    top: 100;
}

#console {
	border: 1px solid #999;
	min-height: 200px;
	font-family: monospace;
    overflow-y: scroll;
    max-height: 200px;
}
