<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#2B3A42" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Handwriting training</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="ui/vue.js"></script>

    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Handwriting training</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="https://gitlab.com/santhoshtr/hand">Code</a></li>
                    <li><a href="index.html">Try!</a></li>
                </ul>
            </div>
        </nav>


        <main>
            <script type="text/x-template" id="training-data-template">
                <div class="row" v-bind:id="id">
                        <div class="row">
                          <button class='btn download col s4'  @click="download"><i class="material-icons">file_download</i> Download {{name}} data</button>
                          <button class='btn add-pattern col s4 offset-s3' @click="addPattern"><i class="material-icons">add</i>Add letter</button>
                      </div>
                      <ul class="collapsible">
                        <li v-for="data,pattern in scriptdata">
                            <div class="collapsible-header"><i class="material-icons">gesture</i>{{pattern}} <span class="badge">{{data.samples? data.samples.length: 0}}</span></div>
                            <div class="collapsible-body">
                                      <div class="row">
                                        <button @click="add(pattern)" class="actions-add btn-floating waves-effect waves-light right"><i class="material-icons">add</i></button>
                                    </div>
                                    <div class="row" v-for="sample,sampleIndex in data.samples">
                                    <button class="actions-remove btn-floating waves-effect waves-light right" @click="remove(pattern, sampleIndex)"><i class="material-icons">delete</i></button>
                                <pattern-sample
                                    v-bind:key="sampleIndex"
                                    v-bind:id="sampleIndex"
                                    v-bind:sample="sample"
                                    class="pattern-sample">
                                </pattern-sample>
                                </div>
                            </div>
                      </li>
                      </ul>
                    </div>
                </script>

            <script type="text/x-template" id="pattern-sample-template">
                <div class="z-depth-1 row">
                    <canvas ref="pattern-sample-canvas" class="col s11" v-bind:height="options.canvasHeight" v-bind:width="options.canvasWidth"></canvas>
                    <div v-if="editable" class="actions right">
                            <button class="actions-remove btn waves-effect waves-light" @click="save( sampleIndex)"><i class="material-icons">save</i></button>
                            <button class="actions-remove btn waves-effect waves-light" @click="undo( sampleIndex)"><i class="material-icons">undo</i></button>
                            <button class="actions-remove btn waves-effect waves-light" @click="simpify( sampleIndex)"><i class="material-icons">timeline</i></button>
                        </div>
                    </div>
                </script>
            <div class="row" id="app">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3" v-for="script in scripts"><a
                                v-bind:href="'#'+script.id">{{script.name}}</a>
                        </li>
                    </ul>
                </div>
                <training-data v-bind:key="script.id" v-bind:id="script.id" v-bind:name="script.name"
                    v-for="script in scripts" class="training-data col s12 grey lighten-5">
                </training-data>
            </div>
        </main>
        <script src="ui/training.js"></script>
        <script src="https://unpkg.com/simplify-js@1.2.3/simplify.js"></script>

    </body>

</html>
